@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (ViewBag.FlashMessage is not null)
    {
        <div class="alert alert-@(ViewBag.FlashMessageType)" role="alert">
            @ViewBag.FlashMessage
        </div>
    }

    <h1 class="display-4">廣播訊息</h1>

    <form asp-action="BroadcastMessage" method="post">
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea name="Message" class="form-control" id="message" rows="3" maxlength="128"></textarea>
        </div>
        <div>
            <label for="message" class="form-label">Stickers</label>
        </div>
        <div>
            <img width="100" style="cursor: pointer;"
                src="https://stickershop.line-scdn.net/stickershop/v1/sticker/11087923/android/sticker.png" data-sticker
                data-packageId="6362" data-stickerId="11087923" />
            <img width="100" style="cursor: pointer;"
                src="https://stickershop.line-scdn.net/stickershop/v1/sticker/1992/android/sticker.png" data-sticker
                data-packageId="442" data-stickerId="1992" />
            <img width="100" style="cursor: pointer;"
                src="https://stickershop.line-scdn.net/stickershop/v1/sticker/10855/android/sticker.png" data-sticker
                data-packageId="789" data-stickerId="10855" />
            <img width="100" style="cursor: pointer;"
                src="https://stickershop.line-scdn.net/stickershop/v1/sticker/11069852/android/sticker.png" data-sticker
                data-packageId="6359" data-stickerId="11069852" />
            <img width="100" style="cursor: pointer;"
                src="https://stickershop.line-scdn.net/stickershop/v1/sticker/52002735/android/sticker.png" data-sticker
                data-packageId="11537" data-stickerId="52002735" />
        </div>
        <hr />
        <div class="mb-3" style="text-align: left;">
            <div class="row">
                <div class="col">
                    <label for="packageId" class="form-label">Package ID</label>
                    <input name="packageId" class="form-control" id="packageId" value="6362" />
                </div>
                <div class="col">
                    <label for="stickerId" class="form-label">Sticker ID</label>
                    <input name="stickerId" class="form-control" id="stickerId" value="11087923" />
                </div>
            </div>
            <div>Package & Sticker Id see:
                <a href="https://developers.line.biz/en/docs/messaging-api/sticker-list/">
                    https://developers.line.biz/en/docs/messaging-api/sticker-list/
                </a>
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>

    <hr />

    <h1 class="display-4">Send Logs</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col" width="96">Id</th>
                <th scope="col" width="256">Time</th>
                <th scope="col" style="text-align: left">Message</th>
                <th scope="col" width="96">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in ViewBag.SendLogs)
            {
                <tr>
                    <th scope="row">@log.Id</th>
                    <td>@log.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td style="text-align: left">@log.MessageText</td>
                    <td>
                        <a asp-action="MessageDetails" asp-route-id="@log.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <hr />

    <h1 class="display-4">Subscribers</h1>

    <hr />

    <table class="table">
        <thead>
            <tr>
                <th scope="col" width="64"></th>
                <th scope="col" style="text-align: left">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subscriber in ViewBag.Subscribers)
            {
                <tr>
                    <td scope="row">
                        <img src="@subscriber.Picture" width="64" height="64" />
                    </td>
                    <td class="align-middle" style="text-align: left">@subscriber.Name</td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('[data-sticker]').forEach((el) => {
            el.addEventListener('click', () => {
                document.getElementById('packageId').value = el.getAttribute('data-packageId');
                document.getElementById('stickerId').value = el.getAttribute('data-stickerId');
            });
        });
    })

</script>